nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.document-viewer {
    flex-grow: 1;
    background-color: #dedede;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 7px;
    fill: #707070;
}

.button-primary:hover .icon {
    fill: #ffffff;
}

.focus .icon {
    fill: #ffffff;
}

.button-primary {
    background-color: transparent;
    color: #707070;
    font-family: 'IBMPlex';
    font-weight: 700;
    font-size: 16px;
    text-align: left;
    flex-shrink: 0;
    margin: 0px;
    padding: 10px;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button-primary:hover {
    background-color: #4086dc;
    color: #ffffff;
}
.button-primary:focus {
    outline: none;
}

.button-primary.focus{
    background-color: #4086dc;
    color: #ffffff;
}

#primary-menu {
    background-color: #ffffff;
    border-right: solid 1px rgb(0, 0, 0, 0.25);
}

#secondary-menu {
    background-color: #ffffff;
    border-right: solid 1px rgb(0, 0, 0, 0.25);
    transition: width 0.2s;
}

#assig_submit {
    display: none;
    height: 30px;
    background-color: #ffffff;
}

.collapse {
    border: 0 !important;
    visibility: hidden;
    opacity: 1;
    width: 0;
}

iframe {
    display: block;
    border: 0;
}