@font-face {
    font-family: 'IBMPlex';
    src: url('fonts/IBMPlexSans-Regular.woff2') format('woff2');
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'IBMPlex';
    border: 0;
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 45px;
    display: inline-block;
}

h1 a {
    text-decoration: none;
    color: #ffffff;
}

header {
    border-bottom: solid 1px rgb(0, 0, 0, 0.25);
    background-color: #4086dc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    height: 45px;
}

#alert-icon {
    fill: #ffffff;
    width: 31px;
    height: 31px;
    padding: 7px;
}

#alert-icon:hover {
    cursor: pointer;
}

#alert-icon.alert {
    background-color: #fff3c4;
    fill: #656565;
    border-bottom: 1px solid #fff3c4;
}

#alert-bar {
    background-color: #fff3c4;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#alert-info {
    font-family: 'IBMPlex';
    font-size: 13px;
    font-weight: 600;
    color: #656565;
}

#alert-bar button {
    background-color: transparent;
    border: 0;
    margin: 0 0 0 10px;
    padding: 2px;
    font-size: 11px;
    color: #656565;
}

#alert-bar button:hover {
    color: #000;
    cursor: pointer;
}

#alert-bar.closed {
    visibility: hidden;
    opacity: 1;
    height: 0px;
}

#content {
    min-width: 450px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}