@font-face {
    font-family: 'IBMPlex';
    src: url('fonts/IBMPlexSans-Regular.woff2') format('woff2');
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#content {
    margin-top: 30px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

table {
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px;
    border-collapse: collapse;
    font-family: 'IBMPlex';
}

table, th, td {
    border: solid 1px #000000;
    padding: 10px;
}

.row-heading {
    background-color: #4086dc;
    color: #ffffff;
    font-weight: 600;
}

.row-sub-heading {
    background-color: #eaeaea;
    font-weight: 600;
}

.sub-heading {
    padding-left: 50px;
}