#card-box {
    margin: 30px auto;
}

.course-card {
    font-family: 'IBMPlex';
    display: inline-block;
    width: 350px;
    padding: 0px;
    border: solid 1px #b1b1b1;
    border-radius: 5px;
}

h2 {
    margin: 0;
    border: 0;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

a h2{
    background-color: #4086dc;
    color: #ffffff
}

a h2:hover {
    background-color: #707070;
}

h3 {
    margin: 0 10px;
    font-size: 16px;
    margin-top: 10px;
}

ul {
    padding: 0;
    margin: 0 10px 0;
    font-size: 14px;
}

li {
    list-style: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    color: #707070;
}

li span {
    width: 50px;
}

li button {
    background-color: transparent;
    border: 0;
    margin: 0 10px 0 0;
    padding: 2px 5px;
    font-size: 16px;
    color: #656565;
}

li button:hover {
    color: #000;
    cursor: pointer;
}

.due-soon {
    
}