#card-box {
    margin: 30px auto;
}

.course-card {
    font-family: 'IBMPlex';
    display: inline-block;
    width: 350px;
    padding: 0px;
    border: solid 1px #b1b1b1;
    border-radius: 5px;
}

h2 {
    margin: 0;
    border: 0;
    padding: 5px 3px;
}

a {
    text-decoration: none;
}

a h2{
    background-color: #4086dc;
    color: #ffffff
}

li {
    list-style: none;
}

li span {
    margin-left: 20px;
}